$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$backgroundColor: #bada55;
$backgroundImage: url('../images/bg.jpg');
$menuBackgroundImage: url('../images/bg_menu.jpg');

@import "bootstrap-sass/lib/bootstrap";

@mixin Josefin {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
@mixin Raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
@mixin icofont {
    font-family: 'icomoon', sans-serif;
    font-weight: 400;
}

/* Put your CSS here */
html, body {
  margin: 0px;
}

body {
    background: $backgroundImage 0 0 repeat;
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    @include Raleway();
    color: #333;
}

#logo {
    position: absolute;
    background: url('../images/logo.jpg') 0 0 no-repeat;
    z-index: 1;

    text-indent: -5000px;
    width: 836px;
    height: 296px;
    top: 0;
    left: 0;
}

#nav_main {
    background: $menuBackgroundImage 0 0 repeat;
    border-radius: 4px;
}

section.page {
    margin: 174px 200px 30px;
    background: #f00;
}


















h1 {
    @include Josefin();
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.icon {
    @include icofont();
}