$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$backgroundColor: #bada55;
$highlightColor: #f8d107;
$selectBorderColor: #5E5E5E;
$selectBackgroundColor: rgba(255,255,255,0.08);
$backgroundImage: url('../images/bg.jpg');
$backgroundOverImage: url('../images/bg_over.png');
$menuBackgroundImage: url('../images/bg_menu.jpg');
$tldrImage: url('../images/tldr.png');

$leftMargin: 200px;
$rightMargin: 70px;
$menuWidth: 225px;

@import "_reset";
@import "bootstrap-sass/lib/_mixins";
@import "bootstrap-sass/lib/_reset";

@mixin Josefin {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}
@mixin Raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
@mixin icofont {
    font-family: 'icomoon', sans-serif;
    font-weight: 400;
}

/* Put your CSS here */
html, body {
  margin: 0px;
}

body {
    background: $backgroundImage 0 0 repeat;
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    @include Raleway();
    color: #333;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    color: $highlightColor;
    @include Raleway();
}

h1 { font-size: 22px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 13px; }
h6 { font-size: 12px; }

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: $highlightColor;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: lighten($highlightColor, 30%);

        &:visited {
            text-decoration: none;
            border-bottom: dashed 1px lighten($highlightColor, 30%);
        }
    }

    &:visited {
        border-bottom: dashed 1px $highlightColor;
    }
}

.container {
    position: relative;
    padding-top: 174px;
}

#logo {
    position: absolute;
    background: url('../images/logo.jpg') 0 0 no-repeat;
    z-index: 1;

    text-indent: -5000px;
    width: 836px;
    height: 296px;
    top: 0;
    left: 0;
    margin: 0;
}

.bg_over {
    background: $backgroundOverImage 0 0 no-repeat;
    width: 107px;
    height: 99px;
    position: absolute;
    top: 123px;
    left: 735px;
    z-index: 4;
}

section.page {
    position: relative;
    z-index: 2;
    margin: 0px $rightMargin 0px $leftMargin;
    min-height: 100px;
    overflow: visible;
    background: rgba(0, 0, 0, 0.5);
}

#nav_main {
    min-height: 260px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
    width: 225px;
    background: $menuBackgroundImage 0 0 repeat;
    border-radius: 4px;
    @include Josefin();
    font-size: 22px;

    a {
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        display: block;
        margin: 16px 8px 16px 20px;
        border-bottom: solid 1px rgba(246, 207, 5, 0.0);
        z-index: 5;

        @include transition(padding 0.2s ease);

        &:first-child {
            margin-top: 20px;
        }

        &:last-child {
            margin-bottom: 16px;
        }

        &.home {
            @include icofont();
            @include transition(height 0.15s ease, opacity 0.15s);
            line-height: 1.5em;
            overflow: hidden;
            height: 34px;
        }

        &:hover {
            text-shadow: 0 0 6px rgba(246, 207, 5, 1);
            padding-left: 4px;
            border-bottom: solid 1px rgba(246, 207, 5, 0.4);
        }
    }

    #nav_main_select {
        @include opacity(100);
        @include transition(opacity 0.2s ease, top 0.15s ease);
        border: dashed 1px $selectBorderColor;
        border-right: none;
        background: $selectBackgroundColor;
        height: 37px - 2px;
        width: $menuWidth - 1px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;

        &:before {
            position: absolute;
            right: -5px;
            top: -1px;
            height: 37px;
            width: 110px;
            border-right: solid 18px $selectBorderColor;
            content: '';
            @include gradient-horizontal(rgba(0, 0, 0, 0), $selectBorderColor);
        }

        &:after {
            position: absolute;
            right: -18px;
            top: 5px;
            height: 26px;
            width: 26px;
            background: $selectBorderColor;
            content: '';
            @include rotate(45deg);
        }
    }

    &.select_about #nav_main_select { top: 56px; }
    &.select_skills #nav_main_select { top: 95px; }
    &.select_clients #nav_main_select,
    &.select_experience #nav_main_select { top: 135px; }
    &.select_portfolio #nav_main_select { top: 173px; }
    &.select_contact #nav_main_select { top: 213px; }
    &.select_error #nav_main_select { display: none; }

    &.select_home {
        a.home {
            height: 0;
            @include opacity(0);
        }
        #nav_main_select { @include opacity(0); }
    }
}


nav.nav_contact {
    position: absolute;
    top: 20px;
    right: $rightMargin + 20px;
    z-index: 2;

    a {
        color: white;
        text-decoration: none;
        @include icofont();
        @include opacity(40);
        @include transition(opacity 0.3s ease);
        font-size: 22px;
        margin-left: 8px;
        position: relative;

        &:hover {
            @include opacity(100);
        }

        &.resume {
            @include opacity(65);
            &:after {
                content: '';
                position: absolute;
                width: 167px;
                height: 82px;
                top: 18px;
                right: -19px;
                background: $tldrImage 0 0 no-repeat;
            }

            &:hover {
                @include opacity(100);
            }
        }
    }
}

.contentArea {
    margin-left: 40px;
    padding: 40px;
    padding-left: $menuWidth;
    color: #ccc;
    line-height: 1.8em;
    min-height: 180px;

    p {
        margin-bottom: 1.8em;
    }

    h1 {
        margin-bottom: 1em;
    }

    b, strong {
        font-weight: bold;
    }

    i, em {
        font-style: italic;
    }
}

#footer {
    visibility: hidden;
    margin: 0 $rightMargin 0 $leftMargin;
    text-align: center;
    padding: 18px 0;
    font-size: 12px;

    a {
        display: inline-block;
        color: #999;
        text-decoration: none;
    }
}

.rightimg {
    float: right;
    border: solid 1px #333;
    padding: 0px;
    margin: 0 -40px 40px 40px;
    border-right: none;
}
.todo {
    position: relative;
    left: -16px;
    top: -2px;
    height: 10px;
    overflow: visible;
    font: normal 11px "Courier New", monospace;
    color: #DAAF28;
    @include rotate(-1.5deg);

    &.v2 {
        top: -8px;
        height: 4px;
        font-size: 10px;
        @include rotate(0.75deg);
    }

    &.v3 {
        top: -2px;
        left: 14px;
        height: 4px;
        font-size: 11px;
        @include rotate(-2.25deg);
    }

    &.v4 {
        top: -12px;
        font-size: 11px;
    }

    &.v5 {
        top: -8px;
        font-size: 11px;
        height: 30px;
        @include rotate(1.5deg);
    }
}

.secondarytext {
    font-size: 90%;
    p {
        margin-bottom: 12px;
    }
}

dl {
    font-size: 90%;
    margin-left: 20px;
    border: solid 1px #333;
    display: inline-block;

    dd {
        margin-left: 102px;
        padding: 6px 20px 6px 14px;
        border-bottom: solid 1px #333;

        &:last-child {
            border-bottom: none;
        }
    }

    dt {
        background: #222;
        float: left;
        width: 90px;
        padding: 6px;
        border-bottom: solid 1px #333;

        &:last-child {
            border-bottom: none;
        }
    }
}

.skillyear, .skillhalfyear, .skillexposure {
    display: inline-block;
    height: 6px;
    background: #6FC740;
    margin-right: 2px;
    border: solid 1px #7CE04B;
    @include gradient-vertical-three-colors(#b4e391, #61c419, 76%, #249915);

    &.special {
        @include box-shadow(0 0 10px #fff);
        @include gradient-vertical-three-colors(lighten(#b4e391, 20%), lighten(#61c419, 20%), 76%, lighten(#249915, 20%));
    }
}

.skillyear {
    width: 20px;
    @include border-radius(3px);
}

.skillhalfyear {
    width: 10px;
    border-right: none;
    @include border-left-radius(3px);
}

.skillexposure {
    width: 4px;
    border-right: none;
    @include border-left-radius(3px);
}

.skillgrid {
    margin-bottom: 14px;

    .skill {
        position: relative;
        overflow: hidden;
        margin-bottom: 4px;

        .skilllabel {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 120px;
            font-size: 12px;
            padding: 1px 8px;
            background: #222;

            &.grouplabel {
                margin-top: 10px;
                color: $highlightColor;
                background: #333;
                width: 160px;
                height: 33px;

                &:after {
                    content: '';
                    position: absolute;
                    top: 3px;
                    right: -10px;
                    height: 20px;
                    width: 20px;
                    background: #333;
                    @include rotate(45deg);
                }

                & ~ div {
                    margin-top: 10px;
                }
            }
        }

        .skillexp, .skilldesc {
            min-height: 19px;
            margin-left: 150px;
            line-height: 12px;
            padding: 3px 0;
        }

        .skilldates {
            font-size: 11px;
            margin-left: 200px;
        }

        .skilldesc {
            font-size: 12px;
            padding: 7px 0 0;
            line-height: 1.3em;
        }
    }
}

.togglerow {
    margin-bottom: 20px;
    padding-bottom: 6px;
    text-align: center;
    border-bottom: solid 1px darken($highlightColor, 35%);
}

.togglebtn {
    @include transition(background-color 0.2s ease, top 0.2s ease);

    position: relative;
    display: inline-block;
    margin: 0 12px;
    top: 0;
    padding: 5px 20px;
    text-transform: uppercase;
    @include border-radius(4px);
    background: desaturate(darken($highlightColor, 20%), 30%);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    font-size: 13px;
    border: solid 1px darken($highlightColor, 14%);

    &:before {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        @include rotate(45deg);
        left: calc(50% - 2px);
        bottom: 4px;
        background: inherit;
        @include transition(bottom 0.3s ease, width 0.3s ease, height 0.3s ease);
    }

    &.toggleon {
        top: 4px;
        background: $highlightColor;

        &:before {
            bottom: -4px;
            width: 7px;
            height: 7px;
        }
    }

    &:focus {
        outline: none;
    }
}

.portgrid {
    .portitem {
        overflow: hidden;
        width: 200px;
        @include border-radius(6px);
        background: $menuBackgroundImage 0 0 repeat;
        display: inline-block;
        margin: 0 10px 6px 0;
        vertical-align: top;

        .porttitle {
            background: rgba(255, 255, 255, 0.1);
            padding: 2px 10px;
            @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
            z-index: 4;

            .porttype {
                float: right;
                text-align: right;
                margin-top: 8px;
                margin-right: 8px;
                font: normal 10px "Courier New" monospace;
            }

            h4 {
                line-height: 14px;
                padding: 4px 0;
            }
        }

        &.nopic {
            .portdetails {
                .portcap {
                    display: none;
                }
                .portdesc {
                    margin-left: 12px;
                }
                dl {
                    margin-left: 0;
                }
            }
        }
    }

    .portdetails {
        overflow: hidden;
        z-index: 2;
        position: relative;

        .portcap {
            width: 50px;
            @include transition(width, 0.4s ease);
            height: 135px;
            background-size: cover;
            position: absolute;
            top: 0;
            bottom: 0;
            height: 100%;
            background-position: 50% 0;
            cursor: pointer;

            &:hover {
                width: 100%;

                &:after {
                    @include opacity(100);
                }
            }

            &:after {
                content: '\002c';
                @include opacity(0);
                @include transition(opacity 0.4s ease);
                position: absolute;
                @include icofont();
                top: calc(50% - 22px);
                left: calc(50% - 0.5em - 22px);
                font-size: 40px;
                text-shadow: 2px 2px 5px #000;
                background: rgba(0, 0, 0, 0.4);
                padding: 20px;
                @include box-shadow(0 0 50px rgba(0, 0, 0, 1));
                @include border-radius(20px);
                border: solid 1px rgba(0, 0, 0, 0.2);
            }
        }
        .portdesc {
            font-size: 12px;
            line-height: 14px;
            margin-top: 11px;
            margin-left: 62px;
            padding-right: 10px;

            .portagency {
                font: normal 9px/1em Tahoma, Arial, sans-serif;
                text-align: right;
                margin: -7px 0 4px 0;
            }
        }
        dl {
            margin: 9px 0 0 50px;
            border: none;
            display: block;
            font-size: 11px;
            font-family: Tahoma, Arial, sans-serif;

            dt {
                position: relative;
                top: 2px;
                background: #333;
                width: 60px;
                margin-right: 14px;
                padding: 0px 1px 0px 12px;
                border: none;
                line-height: 16px;
                float: none;
                @include box-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));

                &:after {
                    content: '';
                    position: absolute;
                    top: 2px;
                    right: -6px;
                    height: 12px;
                    width: 12px;
                    background: inherit;
                    @include rotate(45deg);
                }
            }

            dd {
                margin: 0 6px 6px 0;
                padding: 4px 0 0 18px;
                border: none;
                line-height: 15px;
                font-size: 10px;
            }
        }
    }
}

.slideshowContainer, .slideshowBackground, .slideshow {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.slideshowContainer {
    position: fixed;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    left: -9999px;
    right: 9999px;
    @include opacity(0);

    // transition to hidden
    @include transition(opacity 1.0s 0s ease,
                        left 0s 1.0s ease,
                        right 0s 1.0s ease);

    &.show {
        // transition TO shown
        @include transition(opacity 0.5s 0.1s ease,
                            left 0s 0s ease,
                            right 0s 0s ease);
        @include opacity(100);
        left: 0;
        right: 0;
        .slideshow {
            top: 30px;
            bottom: 30px;
            left: 30px;
            right: 30px;
        }
    }
}

.slideshowBackground {
    @include transition(opacity 0.5s ease);

    position: absolute;
    background: rgba(255, 255, 255, 0.3);
}

.slideshow {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);

    @include transition(all 0.5s ease);
    @include box-shadow(inset 5px 5px 20px black);

    &.atBeginning {
        .prev {
            display: none;
        }
    }
    &.atEnd {
        .next {
            display: none;
        }
    }

    .prev {
        width: 60px;
        height: 60px;

        position: absolute;
        top: calc(50% - 30px);
        left: -20px;
        color: #888;
        cursor: pointer;

        text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

        @include transition(color 0.3s ease, text-shadow 0.3s ease);

        &:hover {
            text-shadow: 0 0 12px rgba(0, 0, 0, 1);
            color: white;
        }

        &:before {
            content: '\005c';
            width: 60px;
            height: 60px;
            @include icofont();
            font-size: 60px;
        }
    }

    .next {
        width: 60px;
        height: 60px;

        position: absolute;
        top: calc(50% - 30px);
        right: -20px;
        color: #888;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

        cursor: pointer;

        @include transition(color 0.3s ease, text-shadow 0.3s ease);

        &:hover {
            color: white;
            text-shadow: 0 0 12px rgba(0, 0, 0, 1);
        }

        &:before {
            content: '\005b';
            width: 60px;
            height: 60px;
            @include icofont();
            font-size: 60px;
        }
    }

    .close {
        width: 24px;
        height: 24px;

        position: absolute;
        top: -26px;
        right: -26px;
        color: #888;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

        cursor: pointer;

        @include transition(color 0.3s ease, text-shadow 0.3s ease);

        &:hover {
            color: white;
            text-shadow: 0 0 12px rgba(0, 0, 0, 1);
        }

        &:before {
            content: '\0075';
            width: 24px;
            height: 24px;
            @include icofont();
            font-size: 24px;
        }
    }
}

#slideshowSet {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
}

.slideshowPhoto {
    @include transition(opacity 0.3s 0s ease);
    @include opacity(0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;

    &.current {
        @include transition(opacity 0.3s 0.3s ease);
        @include opacity(100);
    }

    h4 {
        position: absolute;
        text-align: left;
        overflow: visible;
        top: -52px;
        left: -20px;
        color: white;
        width: 100%;
        text-shadow: 1px 1px 3px #000;
    }

    div {
        position: absolute;
        text-align: center;
        overflow: visible;
        bottom: -52px;
        color: white;
        width: 100%;
        text-shadow: 1px 1px 5px #000;
    }
}