<div class="contentArea" ng-switch="pageRoute">
    <div ng-switch-default>404 Page Not Found</div>
    <div ng-switch-when=""><div data-home-page></div></div>
    <div ng-switch-when="about"><div data-about-page></div></div>
    <div ng-switch-when="skills"><div data-skills-page></div></div>
    <div ng-switch-when="clients"><div data-clients-page></div></div>
    <div ng-switch-when="experience"><div data-clients-page></div></div>
    <div ng-switch-when="portfolio"><div data-portfolio-page></div></div>
    <div ng-switch-when="contact"><div data-contact-page></div></div>
</div>