<h1>{{ title }}</h1>
<!--<div data-ng-bind-html-unsafe="content"></div>-->

    <img class="rightimg" src="/images/content/overengineered.png" title="Code Screenshots"/>
    <p class="todo">&lt;TODO: come up with a good formal welcome&gt;</p>
    <p>You made it! You can now put that checkmark next to <em>visit incredibly over-engineered website</em>,
        because of course everyone has that one on their bucket list.</p>
    <p style="text-align: center"><img src="/images/content/toolicons.png" title="Tool Icons"/></p>
    <p class="todo v2">&lt;NOTE TO SELF: That was a lot icons. Need more coffee.&gt;</p>
    <p>This site is written with <a href="http://www.angularjs.org/" target="_blank">AngularJS</a>,
    a superb MVW (Model-View-Whatever) javascript framework. It originated with a <a href="http://yeoman.io/" target="_blank">Yeoman</a> Angular
    installation, uses <a href="http://bower.io/" target="_blank">Bower</a> for package management,
    and <a href="http://gruntjs.com/" target="_blank">Grunt</a> for building, minifying, testing, and deployment.
    Throw in some <a href="http://pivotal.github.io/jasmine/" target="_blank">Jasmine</a> and
    <a href="http://karma-runner.github.io/0.10/index.html" target="_blank">Karma</a> for testing
    (unit testing and end-to-end testing), <a href="http://jquery.com/" target="_blank">jQuery</a> for advanced selectors,
    <a href="http://sass-lang.com/" target="_blank">SASS</a> for CSS,
    <a href="http://couchdb.apache.org/" target="_blank">CouchDB</a> for document based data storage, and then
    manage the versioning on <a href="http://github.com" target="_blank">GitHub</a> using full issue management
    and ticket branching, and you've got a pretty over-engineered site.</p>
    <div class="secondarytext">
        <p>What else? Ok, well instead of using spritesheets for the UI icons, this site uses an icon font.
        (50+ icons in a single 16Kb request? Yes please.)</p>
        <p>You'll see the menu select indicator when you visit one of the other pages. Pure CSS, even the arrow.</p>
        <p>The menus and page contents are loaded via REST api calls to the Couch database. The content utilizes Angular's
        $cacheFactory to prevent unecessary server calls.</p>
        <p>This is a SPA (Single Page Application) style website, all page transitions and routing is handled with HTML5
        style url/history modification. Fully bookmarkable at any location.</p>
        <p>All animations are created as CSS transitions.</p>
        <p>The special fonts are being loaded both from the Google Web Fonts CDN (menu and content fonts)
        and from this site (icon font) using Google's Web Font Loader library.</p>
        <p style="font-size: 90%">And... ah, yes. I designed it myself. <strong>Don't hate me for being beautiful.</strong> (Or not beautiful. Whatevs.)</p>
    </div>
    <p class="todo v3">&lt;EOF&gt;</p>